@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    flex-direction: column;

    flex: 1;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-weight: normal;
    src: url('./Assets/Fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'SpoqaHanSansNeo-Medium';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100vw;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
